#
# pin constraints
#
NET GCLK LOC = "L15"  |  IOSTANDARD = "LVCMOS33";
NET RESET LOC = "T15"  |  IOSTANDARD = "LVCMOS33"  |  TIG;
#
# additional constraints
#

net axi_uartlite_0_RX_pin LOC=A16 | IOSTANDARD = LVCMOS33;
 
net axi_uartlite_0_TX_pin LOC=B16 | IOSTANDARD = LVCMOS33;

net leds_0_LED_pin(7) LOC=N12 | IOSTANDARD = LVCMOS33; 
net leds_0_LED_pin(6) LOC=P16 | IOSTANDARD = LVCMOS33; 
net leds_0_LED_pin(5) LOC=D4 | IOSTANDARD = LVCMOS33; 
net leds_0_LED_pin(4) LOC=M13 | IOSTANDARD = LVCMOS33; 
net leds_0_LED_pin(3) LOC=L14 | IOSTANDARD = LVCMOS33; 
net leds_0_LED_pin(2) LOC=N14 | IOSTANDARD = LVCMOS33; 
net leds_0_LED_pin(1) LOC=M14 | IOSTANDARD = LVCMOS33; 
net leds_0_LED_pin(0) LOC=U18 | IOSTANDARD = LVCMOS33;



net leds_0_SWITCH_pin(0) LOC=E4 | IOSTANDARD = LVCMOS33;
net leds_0_SWITCH_pin(1) LOC=T5 | IOSTANDARD = LVCMOS33;
net leds_0_SWITCH_pin(2) LOC=R5 | IOSTANDARD = LVCMOS33;
net leds_0_SWITCH_pin(3) LOC=P12 | IOSTANDARD = LVCMOS33;
net leds_0_SWITCH_pin(4) LOC=P15 | IOSTANDARD = LVCMOS33;
net leds_0_SWITCH_pin(5) LOC=C14 | IOSTANDARD = LVCMOS33;
net leds_0_SWITCH_pin(6) LOC=D14 | IOSTANDARD = LVCMOS33;
net leds_0_SWITCH_pin(7) LOC=A10 | IOSTANDARD = LVCMOS33;


NET "GCLK" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 100000 kHz;

